
/*--------------DISEÑO RESPONSIVE PANTALLAS PEQUEÑAS---------------*/



/*-----------ICONO PATITA CON TÍTULO DE PÁGINA-----------*/

body .cuerpo .tituloPatita .icoPatita {
    width: 120px;
    top: 30px;
}

.tituloPatita h1 {
    font-size: 25px;
}

body .cuerpo .tituloPatita {
    margin-bottom: 80px;
}

/*-------MENSAJE CARRITO VACÍO-------*/

.contenedorPedido h2 {
    font-size: 20px;
}


/*-------CONTENEDOR INFORMACIÓN Y FORMULARIO DE PEDIDO-------*/

.cuerpo .contenedorPedido .lineaP {
    display: flex;
    justify-content: space-between;
}

.cuerpo .contenedorPedido .lineaP p {
    font-size: 15px;
    margin: 0;
}

.cuerpo .contenedorPedido {
    padding: 0;
    margin: 0;
}

.contenedorPedido .formularioPago div {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.contenedorPedido .formularioPago div input {
    height: 30px;
}

/*------ANUNCIO PÁGINA-----*/

.cuerpo #anuncio {
    width: 100%;
    display: none;
}


/*------------------FOOTER-----------------*/

body .footer {
    margin-top: 100px;
}

.footer .condiciones {
    display: flex;
    flex-direction: column;
}