/*DISEÑO RESPONSIVE PANTALLAS PEQUEÑAS*/

/* Estilo contenedor iconos cabecera */

body .cabecera .iconosNav  {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Mensaje */
.cuerpo .contMensaje {
    margin-top: 70px;
    text-align: center;
    font-size: 14px;
}

/*Estilo títulos categorías*/

.cuerpo h3 {
    font-size: 16px;
}

/*Estilo categorías*/

.cuerpo .contenedorCategorias {
    margin: 0;
}

.cuerpo .contenedorCategorias .categoria {
    width: 100%;
    margin: 0;
}

.categoria tr > th {
    font-size: 13px;
    padding: 5px;
}

.categoria tr > td {
    font-size: 13px;
    padding: 5px;
}

.categoria tbody {
    width: 100%;
}

.categoria td img {
    width: 30px;
    margin: 0;
}

.categoria tbody tr {
    width: 100%;
}

