/*DISEÑO RESPONSIVE PANTALLAS MEDIANAS*/


/* Mensaje */
.cuerpo .contMensaje {
    margin-top: 80px;
    text-align: center;
    font-size: 18px;
}

/*Estilo títulos categorías*/

.cuerpo h3 {
    font-size: 18px;
}

/*Estilo categorías*/
.contenedorCategorias {
    width: 100%;
}
.contenedorCategorias .categoria {
    width: 95%;
}

.contenedorCategorias .categoria th {
    text-transform: uppercase;
}

.contenedorCategorias .categoria th {
    font-size: 14px;
}

.contenedorCategorias .categoria td{
    font-size: 14px;
}

