/*DISEÑO RESPONSIVE PANTALLAS PEQUEÑAS*/

/* Estilo contenedor iconos cabecera */

body .cabecera .iconosNav  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera .contIconoVolver {
    width: 50px;
}

/* Estilo formulario */

.cuerpo .formularioModif {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
}

.cuerpo .formularioModif textarea {
    height: 90px;
}
