body {
    margin-top: 50px;
    margin-bottom: 20px;
}


.cuerpo .tablaPedidos {
    width: 95%;
}

.tablaPedidos tr th {
    font-size: 14px;
}

.tablaPedidos tr td {
    font-size: 14px;
}

.tablaPedidos tr td select {
    font-size: 14px;
}