* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contLogo {
    display: flex;
    justify-content: center;
}

.contLogo .logo {
    width: 200px;
    margin: 20px;
}

.contIcono {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
   /* justify-content:end;*/
    /*border: 1px solid black;*/
    align-items:end;
    vertical-align: middle;
    align-items: center;
}


.contIcono .icoCerrarSesion {
    width: 40px;
    margin: 5px 10px;
}


/*-----------Título página-----------*/

h2 {
    text-align: center;
    margin-top: 30px 0;
    padding: 10px;
    background-color: rgb(68, 105, 156);
    color: white;
    text-transform: uppercase;
}

/*---------Tabla pedidos----------*/



.tablaPedidos {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tablaPedidos th, .tablaPedidos td {
    padding: 10px;
    text-align: center;
}

.tablaPedidos th {
    text-decoration: underline;
    text-transform: uppercase;
}

.tablaPedidos td {
    font-weight: 600;
}

.iconoPedido {
    width: 45px;
}

.tablaPedidos option[value='Entregado'] {
    background-color: #adaba3; /* Amarillo */
}


