* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*---------------CABECERA-------------*/

.cabecera {
    display: flex;
    flex-direction: column;
    background-image: url("../imagenesPanel/imagenesFondo/fondoCabecera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
}

/*Contenedor del logo*/
.contLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 190px;
    height: 160px;
    border-radius: 100%;
    margin: 10px auto;

    background-color: rgb(255, 255, 255, 0.85);
}


/*Logo*/
.cabecera .contLogo .logo {
    width: 150px;
    margin: 10px;
}

.contIcono {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items:end;
    vertical-align: middle;
    align-items: center;
}


/*Icono volver*/
.contIcono .icoVolver{
    width: 50px;
    margin: 5px;
}

/*---------------MENÚ CABECERA--------------------*/

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Título del menú*/

.menu .contTitulo {
    width: 100%;
    background-color: rgb(25, 54, 95, 0.85);
    padding: 12px;
}


/*Iconos del menú*/

.menu .contTitulo h2 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
}

.menu .contIconosMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background-color: rgb(255, 255, 255, 0.85);
}

.menu .icoCerrarSesion {
    width: 30px;
}

.menu .icoCarta {
    width: 30px;
}

.menu .icoLista {
    width: 40px;
}

.menu img {
    margin: 0 10px;
}

.visitado {
    filter: invert(100%);
}


/*--------------------CUERPO PÁGINA-------------------*/


/*Fondo de imagen para todo el cuerpo*/

.cuerpo {
    background-image: url("../imagenesPanel/imagenesFondo/fondoPaginaLista.jpg");
    background-image: url("../imagenesPanel/imagenesFondo/fondoListaPedidos2.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 220px;
    
}

/*---------Tabla pedidos----------*/


.tablaPedidos {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: hsla(32, 33%, 56%, 0.95);
    background-color: hsla(32, 58%, 55%, 0.95);
    background-color: hsla(32, 63%, 66%, 0.95);

    margin: 70px auto;
    padding: 30px;
    width: 85%;
    border-radius: 1%;
    margin-top: 50px;
}

.tablaPedidos th, .tablaPedidos td {
    padding: 10px;
    text-align: center;
}

.tablaPedidos th {
    text-decoration: underline;
    text-transform: uppercase;
}

.tablaPedidos td {
    font-weight: 600;
}

.iconoPedido {
    width: 30px;
}

.iconoPedido:hover{
    scale: 1.2;
}

/*Footer*/

.footer {
    background-color: rgb(25, 54, 95, 0.85);
    padding: 20px;
    position: static;
    bottom: 0;
    margin: 0;
    width: 100%;
}